{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<style>
  body {
    background-color: #fff;
  }
</style>
{% endblock %}

{% block body %}
<div class="customer-container bg-white">
  <div class="customer-wrapper">
    <div class="logo-header d-flex justify-content-center">
      <img src="{% static 'img/smartysync-logo.png' %}" class="mx-auto" width="125px" height="108px">
    </div>
    <div class="customer-content py-3">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}