{% extends 'registration/base.html' %}

{% load static %}

{% load crispy_forms_tags i18n %}

{% block stylesheet %}
<style>
  body {
    background: left center no-repeat;
    background-image: url("{% static 'img/smartysync-bg.jpg' %}");
    background-blend-mode: darken;
    background-color: #0000005e !important;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
</style>
{% endblock %}

{% block content %}
<div class="customer-form">
  <h4 class="customer-title text-center">{% trans 'Log in to your account' %}</h4>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}">
    {{ form|crispy }}
    <div class="form-btns">
      <button type="submit" class="btn btn-primary px-5 rounded-pill">{% trans 'Log in' %}</button>
      <div class="forget-password-box">
        <a href="{% url 'password_reset' %}" class="link">{% trans 'Forgot your password?' %}</a>
      </div>
    </div>
    <div style="margin-top: 20px;display: flex ;justify-content: center;">
      <p>OR</p>
    </div>
    <div style="margin-top: 15px;display: flex ;justify-content: center;">
      
      <a href="{% url 'setup_account' %}" class="btn btn-primary px-5 rounded-pill">{% trans 'Register New Account' %} </a>
    </div>
  </form>
</div>

{% endblock %}