{% extends 'registration/base.html' %}

{% load static %}


{% load crispy_forms_tags i18n %}

{% block stylesheet %}
<style>
  body {
    background: left center no-repeat;
    background-image: url("{% static 'img/titan-dev-bg.jpg' %}");
    background-blend-mode: darken;
    background-color: #0000005e !important;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  .logo{
    color: white !important;
  }
</style>
{% endblock %}

{% block javascript %}
  <script>
    $(function () {
      $("#id_email").focus();
    });
  </script>
{% endblock %}

{% block content %}
  <div class="customer-form">
  <h4 class="customer-title text-center">{% trans 'Reset your password' %}</h4>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {{ form|crispy }}
          <div class="text-center">
          <button type="submit" class="btn btn-primary px-5 rounded-pill">{% trans 'Send' %}</button>
          </div>
        </form>
    <div class="text-center">
      <a href="{% url 'login' %}" class="btn text-primary">{% trans 'Return to log in page' %}</a>
    </div>
  </div>
{% endblock %}
