{% extends 'base.html' %}

{% load crispy_forms_tags i18n lists %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb alert-primary">
      <li class="breadcrumb-item"><a href="{% url 'lists:lists' %}">{% trans 'Mailing Lists' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Delete Subscriber wia Paste</li>
    </ol>
  </nav>
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title">{{ title }}</h2>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-danger" role="button">{% trans 'Delete' %}</button>
        <a href="{% url 'lists:lists' %}" class="btn btn-outline-secondary" role="button">{% trans 'Never mind' %}</a>
      </form>
    </div>
  </div>

{% endblock %}
