{% extends 'base.html' %}

{% load crispy_forms_tags i18n %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb alert-dark">
      <li class="breadcrumb-item"><a href="{% url 'lists:lists' %}">{% trans 'Mailing Lists' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Search' %}</li>
    </ol>
  </nav>

  <div class="card mb-3">
    <div class="card-body">
      <h3 class="card-title">{% trans 'Search Emails' %}</h3>
      <form method="post">
        {% csrf_token %}
        <div class="row">
          <div class="col">
            {{ form|crispy }}
          </div>
        </div>
        <button type="submit" class="btn btn-dark rounded-pill" role="button">{% trans 'Search' %}</button>
        <a href="{% url 'lists:lists' %}" class="btn btn-outline-warning rounded-pill" role="button">{% trans 'Go Back' %}</a>
      </form>
    </div>
  </div>
  <div>

    {% if multiple_campaign_subscribers_all %}

      <h2>Subscribed to Multiple Campaigns (all)</h2>
      <table style="border-collapse: collapse; width: 100%; color: red;">
        <thead>
            <tr style="background-color: #ccc;">
              <th style="padding: 10px; border: 1px solid #000;">Emails</th>
                <th style="padding: 10px; border: 1px solid #000;">Mailing List</th>
            </tr>
        </thead>
        <tbody>
            {% for email, campaigns in multiple_campaign_subscribers_all.items %}
              <tr>
                  <td style="padding: 10px; border: 1px solid #000;">{{ email }}</td>
                  <td style="padding: 10px; border: 1px solid #000;">
                  {% for campaign in campaigns %}
                      {{ campaign }} <br>
                  {% endfor %}
                  </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    {% endif %}
    <hr style="border: 2px solid black;">
    {% if alone_subscribers %}

    <h2>Not Subscribed to Any Campaign(s)</h2>
      <table style="border-collapse: collapse; width: 100%;">
        <thead>
            <tr style="background-color: #ccc;">
              <th style="padding: 10px; border: 1px solid #000;">Emails</th>
            </tr>
        </thead>
        <tbody>
            {% for email in alone_subscribers %}
              <tr>
                  <td style="padding: 10px; border: 1px solid #000;">{{ email }}</td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    {% endif %}

    {% if multiple_campaign_subscribers %}

      <h2>Subscribed to Multiple Campaigns</h2>
      <table style="border-collapse: collapse; width: 100%; color: red;">
        <thead>
            <tr style="background-color: #ccc;">
              <th style="padding: 10px; border: 1px solid #000;">Emails</th>
                <th style="padding: 10px; border: 1px solid #000;">Mailing List</th>
            </tr>
        </thead>
        <tbody>
            {% for email, campaigns in multiple_campaign_subscribers.items %}
              <tr>
                  <td style="padding: 10px; border: 1px solid #000;">{{ email }}</td>
                  <td style="padding: 10px; border: 1px solid #000;">
                  {% for campaign in campaigns %}
                      {{ campaign }} <br>
                  {% endfor %}
                  </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
    {% endif %}

    {% if campaign_subscribers %}
    <h2>Campaigns Subscribed to</h2>
    
    <table style="border-collapse: collapse; width: 100%; color: green;">
      <thead>
        <tr style="background-color: #ccc;">
          <th style="padding: 10px; border: 1px solid #000;">Mailing List</th>
          <th style="padding: 10px; border: 1px solid #000;">Emails</th>
        </tr>
      </thead>
      <tbody>
        {% for name, email_list in campaign_subscribers.items %}
        <tr>
          <td style="padding: 10px; border: 1px solid #000;">{{ name }}</td>
          <td style="padding: 10px; border: 1px solid #000;">
            {% for email in email_list %}
            {{ email }} <br>
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}

  </div>
{% endblock %}