{% extends 'base.html' %}

{% load i18n %}

{% load i18n humanize %}


{% block title %}{% trans 'Auto Send Campaigns' %}{% endblock %}

{% block main %}
<div class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb alert-primary">
    <li class="breadcrumb-item"><a href="{% url 'autocampaign:autocampaign_list' %}">{% trans 'Auto Campaigns' %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ autocampaign.campaign }}</li>
    </ol>
  </nav>
  
  <div class="row justify-content-center">
    <div class="col col-md-6">


      <div class="card mb-3 p-3">
        

        <dl class="row mb-0">
          <dt class="col-sm-3">{% trans 'Status' %}</dt>
        <dd class="col-sm-9">{{ autocampaign.status }}</dd>
          {% if autocampaign.status == "sent" %}
            <dt class="col-sm-3">{% trans 'Send Date and time' %}</dt>
            <dd class="col-sm-9 d-flex align-items-center">
                {{ autocampaign.send_date }} <small class="text-muted mx-3">({{ autocampaign.send_date|naturaltime }})</small>
            </dd>
          {% endif %}
        <dt class="col-sm-3">{% trans 'Mailing List' %}</dt>
        <dd class="col-sm-9">{{ autocampaign.mailing_list }}</dd>

        <dt class="col-sm-3">{% trans 'Max Mails to be sent' %}</dt>
        <dd class="col-sm-9">{{ autocampaign.mail_numbers }}</dd>

        
        <dt class="col-sm-3">{% trans 'PDF Name' %}</dt>
        <dd class="col-sm-9">{{ autocampaign.pdf_file }}</dd>
      </div>

      <div class="m-2 p-2">
        {% if autocampaign.status == "draft" %}
            <a href="{% url 'autocampaign:autocampaign_confirm_send' autocampaign.pk %}" class="btn btn-primary rounded-pill" role="button">{% trans 'Send campaign' %}</a>
        {% endif %}
        {% if autocampaign.status == "sent" %}
            <a href="{% url 'campaigns:campaign_detail' autocampaign.campaign.pk %}" class="btn btn-secondary rounded-pill" role="button">{% trans 'Go To Main Campaign' %}</a>
        {% endif %}
    </div>
    </div>
  </div>
</div>
{% endblock %}
