{% extends 'base.html' %}

{% load crispy_forms_tags i18n %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb alert-primary">
      <li class="breadcrumb-item"><a href="{% url 'autocampaign:autocampaign_list' %}">{% trans 'Auto Campaign' %}</a></li>
      <!-- <li class="breadcrumb-item"><a href="{{ campaign.get_absolute_url }}">{{ campaign.name }}</a></li> -->
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Send Campaign' %}</li>
    </ol>
  </nav>
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title">{% trans 'Are you sure?' %}</h2>
      <p>You are about to Send the campaign <strong>{{ autocampaign.campaign }}</strong>. with Mailing List {{ autocampaign.mailing_list }} to {{ autocampaign.mailing_number }} </p>
      <form method="post" novalidate>
        {% csrf_token %}
        <button type="submit" class="btn btn-danger rounded-pill" role="button">{% trans 'Confirm deletion' %}</button>
        <a href="{% url 'campaigns:campaigns' %}" class="btn btn-outline-warning rounded-pill" role="button">{% trans 'Never mind' %}</a>
      </form>
    </div>
  </div>
{% endblock %}
