{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_filters i18n static %}




{% block title %}{% trans 'Auto Send Campaigns' %}{% endblock %}

{% block main %}
<div class="row justify-content-center">
  <div class="col col-md-9">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb alert-primary">
        <li class="breadcrumb-item"><a href="{% url 'autocampaign:autocampaign_list' %}">{% trans 'Auto Campaign' %}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">{% trans 'Send Campaign' %}</li>
      </ol>
    </nav>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col col-md-9">
    <div class="card mb-3">
      <div class="card-body">
        <h2 class="card-title">{% trans 'Are you sure?' %}</h2>
        <p>You are about to send the campaign <strong>{{ autocampaign.campaign }}</strong> with mailing list <strong>{{ autocampaign.mailing_list }}</strong> to <strong>{{ autocampaign.mail_numbers }}</strong> recipients.</p>
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary rounded-pill" role="button">{% trans 'Confirm Send' %}</button>
          <a href="{% url 'autocampaign:autocampaign_list' %}" class="btn btn-outline-warning rounded-pill"
            role="button">{% trans 'Never mind' %}</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}