{% extends 'base.html' %}

{% load i18n %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-3 py-4">
    <h2 class="mb-0">{% trans 'Dashboard' %}</h2>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="dropdown">
        <button class="btn btn-outline-warning dropdown-toggle rounded-pill" type="button" id="draftsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans 'Drafts' %}
        </button>
        <div class="dropdown-menu dropdown-menu-right rounded" aria-labelledby="draftsMenu">
          {% for campaign in drafts %}
            <a class="dropdown-item" href="{{ campaign.get_absolute_url }}">{{ campaign.name }}</a>
          {% empty %}
            <div class="dropdown-item">
              <em class="text-muted">{% trans 'You have no draft.' %}</em>
            </div>
          {% endfor %}
        </div>
      </div>
      <a href="{% url 'campaigns:campaign_add' %}" class="btn btn-dark rounded-pill ml-2" role="button">{% trans 'Create campaign' %}</a>
    </div>
  </div>

<div class="row pb-3">
  <div class="col-3">
    <h3 class="h6 font-weight-normal">CAMPAIGN SENT</h3>
    <div class="d-flex align-items-center h3 text-warning">
        <i class="fas fa-rocket"></i>
        <span class="inline-block pl-3 ml-3 border-left border-warning text-dark">197</span>
    </div>
  </div>
  <div class="col-3">
    <h3 class="h6 font-weight-normal">ANNUAL PROFIT</h3>
    <div class="d-flex align-items-center h3 text-warning">
      <i class="fas fa-dollar-sign"></i>
        <span class="inline-block pl-3 ml-3 border-left border-warning text-dark">350k</span>
    </div>
  </div>
  <div class="col-3">
    <h3 class="h6 font-weight-normal">LEAD COVERSATION</h3>
    <div class="d-flex align-items-center h3 text-warning">
      <i class="fas fa-chart-line"></i>
        <span class="inline-block pl-3 ml-3 border-left border-warning text-dark">32%</span>
    </div>
  </div>
  <div class="col-3">
    <h3 class="h6 font-weight-normal">DAILY AVERAGE INCOME</h3>
    <div class="d-flex align-items-center h3 text-warning">
      <i class="fas fa-trophy"></i>
        <span class="inline-block pl-3 ml-3 border-left border-warning text-dark">19754$</span>
    </div>
  </div>
</div>

<div id="chart" class="my-4 py-2 border-0 shadow-none"></div>

<table class="table table-striped py-3">
  <thead class="bg-dark text-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>Mark</td>
      <td>Otto@gmail.c</td>
      <td>22 Apr, 2022</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mark</td>
      <td>Otto@gmail.c</td>
      <td>22 Apr, 2022</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Mark</td>
      <td>Otto@gmail.c</td>
      <td>22 Apr, 2022</td>
    </tr>
  </tbody>
</table>
<h3>{% trans 'Activity' %}</h3>
  <hr class="mt-2">
  {% for activity in activities %}
    {% ifchanged %}
      <h6 class="mb-2 mt-4">{{ activity.date|date:'j M, Y' }}</h6>
    {% endifchanged %}
    <div class="card mb-2">
      <div class="card-body align-middle">
        {% if activity.is_subscribed %}
          <span class="fas fa-user-plus text-primary mr-2"></span>
          <small class="text-muted mr-2">{{ activity.date|date:'P' }}</small>
          <span>
            <a href="{% url 'lists:edit_subscriber' activity.subscriber.mailing_list_id activity.subscriber_id %}">
              {{ activity.subscriber.email }}
            </a>
            subscribed to
            <a href="{{ activity.subscriber.mailing_list.get_absolute_url }}">
              {{ activity.subscriber.mailing_list.name }}
            </a>
          </span>
        {% elif activity.is_unsubscribed %}
          <span class="fas fa-user-minus text-danger mr-2"></span>
          <small class="text-muted mr-2">{{ activity.date|date:'P' }}</small>
          <span>
            <a href="{% url 'lists:edit_subscriber' activity.subscriber.mailing_list_id activity.subscriber_id %}">
              {{ activity.subscriber.email }}
            </a>
            unsubscribed from
            <a href="{{ activity.subscriber.mailing_list.get_absolute_url }}">
              {{ activity.subscriber.mailing_list.name }}
            </a>
            {% if activity.campaign %}
              via <a href="{{ activity.campaign.get_absolute_url }}">{{ activity.campaign.name }}</a>
            {% endif %}
          </span>
        {% endif %}
      </div>
    </div>
  {% endfor %}
  <script>
    var options = {
      series: [{
        name: 'Subscribers',
        data: [31, 40, 280, 51, 12, 309, 500]
      }, {
        name: 'Campaigns',
        data: [11, 232, 345, 132, 534, 52, 641]
      }],
      chart: {
        height: 350,
        type: 'area'
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        curve: 'smooth'
      },
      xaxis: {
        type: 'month',
        categories: ["Jan", "Feb", "Mar", "Apr", "May", "June", "July"]
      },
      tooltip: {
        x: {
          format: 'dd/MM/yy HH:mm'
        },
      },
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
  </script>
{% endblock %}
