@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --theme-dark-color: #343a40;
    --theme-warning-color: #ffc107;
    --theme-success-color: #28a745;
    --theme-danger-color: #dc3545;
    --theme-info-color: #17a2b8;
    --theme-light-color: #f8f9fa;
}

body {
    background-color: rgb(246, 246, 246);
    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Jost', sans-serif;
}

nav.navbar .navbar-brand,
.logo {
    font-family: 'Goudy Bookletter 1911', serif;
}

nav.navbar .navbar-brand {
    font-size: 1.4rem;
}

.table-sm {
    font-size: 87.5%;
}

.alert ul,
form small.form-text ul {
    margin-bottom: 0;
    list-style: none;
    padding: 0;
}

.pagination .page-item {
    min-width: 38px;
    text-align: center;
}

.user-form .card {
    border-radius: 25px;
}

input:not(input[type="checkbox"], input[type="radio"]),
textarea,
select {
    border-radius: 25px !important;
}

form input.round-r-0 {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.list-group-item.active {
    background-color: #343a40;
    border: none !important;
}

.card-header-tabs .nav-link {
    color: #ffffff;
}

.breadcrumb a {
    color: #343a40 !important;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #343a40;
    color: #ffffff;
}

table a {
    color: #17a2b8;
}

label span {
    color: #dc3545;
}

.nav-link {
    padding: 22px 10px !important;
}

.nav-link.active,
.nav-link:hover {
    background-color: var(--theme-dark-color);
    color: var(--theme-light-color) !important;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.dashboard-card {
    padding: 10px 15px;
    border: 1px solid rgb(216, 216, 216);
}

.notification-icon {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0 !important;
}

.title {
    font-size: 40px;
}
@media screen and (max-width: 1024px) {
    .cards-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .nav-link,.notification-item {
        padding: 10px !important;
    }
    .main-navbar .user-navbar{
        flex-wrap: nowrap !important;
        flex-direction: row;
        justify-content: center;
        align-items: start !important;
    }
}

@media screen and (max-width: 768px) {
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .title {
        font-size: 30px;
    }
    .responsive-table{
        overflow-x: auto;
    }
    .responsive-table table,.responsive-table .card-footer{
        min-width: 600px;
    }
    
}

@media screen and (max-width: 425px) {
    .cards-grid {
        grid-template-columns: 1fr;
    }

    .title {
        font-size: 25px;
    }
}